@model IEnumerable<TestCase.Models.UsersGuests>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Admin Users List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Admin User</a>
    </div>
</div>

<br />
<div>
    <table class="table table-primary border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Password)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Role)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Email)
        </td>
        <td>
            @Html.DisplayFor(m => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(m => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(m => item.Password)
        </td>
        <td>
            @Html.DisplayFor(m => item.Role)
        </td>
        <td>
            <partial name="_TableButtonPartial" model="item.Id" />
        </td>
    </tr>

        }
    </table>
</div>